<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo.ico') }}" type="image/x-icon">

    <title>Mi Segunda Encarta</title>
</head>
<body>
    <a href="/inicio" title="Salir del modo">
        <i class="fas fa-sign-out-alt" id="logout-icon"></i>
    </a>

    <div class="contenido" style="display: flex; flex-direction: column;" id="seccion-container">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            {% for seccion in secciones %}
            <div class="contenido">
                <div>
                    <input type="hidden" id="idSeccion" name="idSeccion" value="{{ seccion[0] }}">
                    <div id="titulo-contenido">
                        <div>
                            {{ seccion[1] if seccion and seccion[1] else '' }}
                        </div>
                    </div>
                    <div class="ck ck-reset ck-editor ck-rounded-corners">
                        <div id="detalle-contenido">
                            {{ seccion[2] | safe if seccion and seccion[2] else '' }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
