<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Logo.ico') }}" type="image/x-icon">

    <title>Mi Segunda Encarta</title>
</head>
<body>
    <a href="/inicio" title="Salir del modo">
        <i class="fas fa-sign-out-alt" id="logout-icon"></i>
    </a>
    <div class="contenido" style="display: flex; flex-direction: column;" id="seccion-container">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            {% include '_Seccion.html' %}
        </div>
    </div>
    <div class="contenido" style="display: flex; justify-content: space-between; margin-top: 20px; width: 660;">
        <div>
            <a href="{{ url_for('DetalleEdicion') }}" style="text-decoration: none;">
                <button type="button" id="cancelar" style="padding: 10px 20px;">
                    Cancelar
                </button>
            </a>
        </div>
        <div>
            <button type="submit" form="editor-form" id="aceptar" style="padding: 10px 20px; background-color: #8a3e7d; color: #fff;">
                Guardar
            </button>
        </div>
    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const textareas = document.querySelectorAll('textarea[id^="editor-"]');
                
                textareas.forEach(textarea => {
                    ClassicEditor
                        .create(textarea, {
                            toolbar: [
                                'heading', 'bold', 'italic', 'imageUpload', 'mediaEmbed', 
                                'bulletedList', 'numberedList', 'undo', 'redo'
                            ],
                            mediaEmbed: {
                                previewsInData: true  
                            },
                            ckfinder: {
                                uploadUrl: '/upload_image'
                            },
                            autoGrow_maxHeight: 900, // Ajusta este valor según lo necesites
                            autoGrow_minHeight: 460, // Ajusta el tamaño mínimo
                            autoGrow_bottomSpace: 50,
                            width: '500px'
                        })
                        .then(editor => {
                            editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                                return new SimpleUploadAdapter(loader);
                            };
                        })
                        .catch(error => {
                            console.error(error);
                        });
                });

                class SimpleUploadAdapter {
                    constructor(loader) {
                        this.loader = loader;
                    }

                    upload() {
                        return this.loader.file
                            .then(file => new Promise((resolve, reject) => {
                                const img = new Image();
                                img.src = URL.createObjectURL(file);

                                img.onload = () => {
                                    if (img.width > 600) {
                                        alert('La imagen debe ser de 600 píxeles de ancho o menos.');
                                        reject();
                                    } else {
                                        const formData = new FormData();
                                        formData.append('upload', file);

                                        fetch('/upload_image', {
                                            method: 'POST',
                                            body: formData
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            resolve({
                                                default: data.url
                                            });
                                        })
                                        .catch(() => {
                                            reject('Error al intentar subir la imagen.');
                                        });
                                    }
                                };
                            }));
                    }
                }
                
            });
            
        </script>
</body>
</html>