<div class="contenido">
    <div>
        <input type="hidden" id="idSeccion" name="idSeccion" value="{{ idSeccion }}">
        <form id="editor-form" method="POST" action="{{ url_for('ActualizarSeccion', idSeccion=idSeccion) }}">
            <input class="nombre" name="nombre" type="text" placeholder="Sección..."
                   value="{{ seccion[1] if seccion and seccion[1] else ''}}">
            <textarea class="editor-textarea" name="contenido" id="editor-{{ idSeccion }}">{{ seccion[2] if seccion and seccion[2] else '' }}</textarea>
        </form>
    </div>
</div>
